*{
    margin: 0;
    padding: 0;
}

.list{
    display: flex;
    justify-content: center;
}

.list_markup {
    text-align: center;
    width: 400px;
    background-color: blanchedalmond;
}

h2 {
    background-color:aqua;
    padding: 20px 0;
}

ul li {
    list-style: none;
    text-align: left;
    margin-left: 75px;
    padding: 5px 0;
}

.input_text {
    height: 30px;
    width: 250px;

}

.button {
    background-color: aquamarine;
    width: 250px;
    height: 30px;
    margin-top: 10px;

}